package components

templ ContactsSearch() {
	<form action="/contacts" method="get" class="tool-bar">
		<label for="search">Search Term</label>
		<input id="search" type="search" name="q" class="input input-bordered mx-4"/>
		<input type="submit" value="Search"/>
	</form>
}
